:root{
    --header-color:rgb(240, 234, 212);
    --body-color:#F2F2F2;
    --button-color:#01403A;
    --button-background-color:#fc910f;
    --test-color:#1DD9D4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--body-color);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header{
    height: 15vh;
    background-color: var(--header-color);
}
.top-container{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-container img{
    width: 110px;
}
.top-container nav{
    width: 60%;
}
.top-container ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.top-container a{
    text-decoration: none;
    color: rgb(23, 26, 25);
    font-size: 1.1rem;
}
.top-container a:hover{
    color: #000000;
    border-bottom: 1px solid #000000;
    transition: 0.5s ease;
}
/* container */
.container{
    width: 80%;
    margin: auto;
}
.container img{
   width: 100px;
}
/* change theme button */
.pop{
    text-align: center;
    margin: 2rem 0;
}
.btn{
    padding: 0.6rem 0.8rem;
    border: #000000 1px solid;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn:hover{
    background: #000000;
    color: #F2F2F2;
}

/* section books */
section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.books{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}
.book{
    height: 40vh;
    width: 60%;
    background: var(--test-color);
}
/* books image */
.book1{
    background: url(../book/javascriptt_1.png) no-repeat center center/cover;
    }
.book2{
    background: url(../book/1.png) center center/cover;
}
.book3{
    background: url(../book/Screenshot_7.png) center center/cover;
}
.book4{
    background: url(../book/lunix.png) no-repeat center center/cover;
}
.book5{
    background: url(../book/ux.png) no-repeat center center/cover;
}
.book6{
    background: url(../book/network1.png) no-repeat center center/cover;
}
.book7{
    background: url(../book/android.png) center center/cover no-repeat;
}
.book8{
    background: url(../book/pro.png) center center/cover no-repeat;
}
.book9{
    background: url(../book/avr.png) center center/cover no-repeat;
}
.book10{
    background: url(../book/logaritem.png) center center/cover no-repeat;
}


/* ennd books  */

.books h2{
    margin: 1rem 0;
}
.books button{
    padding: 1rem ;
    display: inline-block;
    width:60%;
    margin: 1rem 1.5rem;
    border: none;
    background: var(--button-background-color);
    color: var(--button-color);
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}
.books button:hover{
    opacity: 0.8;
}
.books button a{
    text-decoration: none;
    color: var(--button-color);
}
/* footer */
footer{
    height: 45vh;
    width: 100%;
    background: var(--button-color);
    color: rgb(231, 230, 230);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
footer img{
    width: 50%;
}
footer div{
    margin-top: 1rem;
}
footer p{
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}



/* media query */

@media screen and (max-width:660px){
    .container{
        width: 90%;
        margin: auto;
    }
    .hamburger{
        height: 40px;
        width: 40px;
        position: fixed;
        left: 2rem;
        top: 1.3rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .line{
        height: 5px;
        background: #000000;
        width: 100%;
    }
    .menu{
        position: fixed;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 9rem;
        background: var(--header-color);
        left:  -50%;
        top: 0;
        transition: all 1s ease;
    }
    .menu.open{
        left: 0;
    }
    .menu li:last-child{
        padding-bottom: 2rem ;
    }
    section{
        grid-template-columns: 1fr;
    }
    footer{
        height: 25vh;
    }
    footer img{
        width: 35%;
    }
    footer p{
        font-size: 1rem;
    }
}