*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	background: #f3f2f2;
}

/* container */
.container {
	width: 80%;
	margin: auto;
}
header {
	height: 12vh;
	background-color: #dddddd;
}
header .container {
	height: 100%;
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
header .container svg {
	width: 160px;
}
header .container nav {
	width: 60%;
}
header .container ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .container a {
	text-decoration: none;
	color: #2b2a2a;
	font-size: 1.1rem;
	padding: 0.8rem 1rem;
	transition: background-color 0.5s ease;
}
header .container a:hover {
	color: #f3f2f2;
	background-color: #2b2a2a;
}
/* section books */
main {
	min-height: 88vh;
}
main .container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
	height: 100%;
}
section {
	margin: 1rem;
	color: #ffffff;
	height: 40vh;
	position: relative;
}

.book {
	width: 100%;
	height: 100%;
	background: rgba(3, 42, 42, 0.5);
	padding: 1.5rem;
}

section h2 {
	background: rgba(43, 42, 42, 0.7);
	padding: 0.8rem 1rem;
}

section .btn {
	background: rgb(43, 42, 42);
	display: inline-block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 18%;
	padding: 0.8rem 1rem;
	text-decoration: none;
	color: #f3f2f2;
	text-align: center;
}
/* books image */
.book1 {
	background: url(../book/javascriptt_1.png) no-repeat center center/cover;
}
.book2 {
	background: url(../book/1.png) center center/cover;
}
.book3 {
	background: url(../book/Screenshot_7.png) center center/cover;
}
.book4 {
	background: url(../book/lunix.png) no-repeat center center/cover;
}
.book5 {
	background: url(../book/ux.png) no-repeat center center/cover;
}
.book6 {
	background: url(../book/network1.png) no-repeat center center/cover;
}
.book7 {
	background: url(../book/android.png) center center/cover no-repeat;
}
.book8 {
	background: url(../book/pro.png) center center/cover no-repeat;
}
.book9 {
	background: url(../book/avr.png) center center/cover no-repeat;
}
.book10 {
	background: url(../book/logaritem.png) center center/cover no-repeat;
}

/* ennd books  */

/* footer */
footer {
	height: 12vh;
	text-align: center;
}

footer p {
	font-size: 1.5rem;
}

/* media query */

@media screen and (max-width: 660px) {
	.container {
		width: 90%;
		margin: auto;
	}
	.hamburger {
		height: 40px;
		width: 40px;
		position: fixed;
		left: 2rem;
		top: 1.3rem;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
	.line {
		height: 5px;
		background: var(--link-color);
		width: 100%;
	}
	.menu {
		position: fixed;
		height: 100vh;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 9rem;
		background: var(--header-background-color);
		left: -50%;
		top: 0;
		transition: all 1s ease;
	}
	.menu.open {
		left: 0;
	}
	.menu li:last-child {
		padding-bottom: 2rem;
	}
	section {
		grid-template-columns: 1fr;
	}
	footer {
		height: 25vh;
	}
	footer img {
		width: 35%;
	}
	footer p {
		font-size: 1rem;
	}
}
